<html>
<head>
     
    <title>Django</title>
</head>
<body>
    
    {% if errors %}
        <ul>
            {% for error in errors %}
                <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
     
    <form action="" method="post">

        <label>Загрузите файлы</label> 

        <br><br>

        <input value="{{ form.images }}" name="images[]" multiple="multiple" type="file">

        <br><br>
        
        <input type="submit" value="Отправить">
        {% csrf_token %}
    </form>
    <h3><a href="/core/add">Вернуться</a></h3>
</body>
</html>