<html>
<head>
     
    <title>Django</title>
</head>
<body>
    
    {% if errors %}
        <ul>
            {% for error in errors %}
                <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
     
    <form action="" method="post">
        <label>Выберете Главу</label> 

        <br><br>

        <select name="ch_name">
            <option selected="selected" disabled>Выберете Главу</option>
            {% for chapter in chapters %}
                <option value="{{ chapter.id }}">{{ chapter.title }}</option>
            {% endfor %}
        </select>

        <br><br>
        
        <input type="submit" value="Отправить">
        {% csrf_token %}
    </form>
    <h3><a href="/core/add">Вернуться</a></h3>
</body>
</html>