<html>
<head>
     
    <title>Django</title>
</head>
<body>
    {% if errors %}
        <ul>
            {% for error in errors %}
                <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
     
    <form action="" method="post">
        <label>Название манги</label> 

        <br><br>

        <input name="manga_name" type="text" value="{{ form.manga_name }}">

        <br><br>

        <label>Источник (название сайта)</label> 

        <br><br>

        <input name="source" type="text" value="{{ form.source }}">

        <br><br>

        <label>Описание</label> 

        <br><br>

        <input name="discription" type="text" value="{{ form.discription }}">

        <br><br>
        
        <input type="submit" value="Отправить">
        {% csrf_token %}
    </form>
    <h3><a href="/core/add">Вернуться</a></h3>
</body>
</html>