@media (min-width: 768px) {
    .modal-dialog {
      width: 1200px;
      margin: 30px auto;
    }
}

@media (min-width: 992px) {
    .modal-lg {
      width: 1200px;
    }
}

@media (min-width: 768px) {
    .modal-xl {
      width:1200px;
    }
}
.modal-body{
    width:1200px;
    height: 554px;
    background-color: #F3F5F4;
    border-radius: 30px;
}

.modal-content{
    border-radius: 30px;
}

.bigCont{
    width: 1200px;
}

.forms_container{
    width: 600px;
    display: inline-block;
}

.forms{
    display: inline-block;
    margin-top: 200px;
    width: 400px;
    text-align: center;
}

.forms_header{
    font-size: 40px;
    margin-bottom: 25px;
}

.forms_form{
    border: 2px #11998E solid;
    width: 300px; 
    display: inline-block;
}

.forms_button{
    background-color: #11998E;
    border: 2px #11998E solid;
    margin-right: 10px;
}

.forms_button:hover, .forms_button:active, .forms_button:focus {
    color: #ffffff !important;
    background-color: #11998E !important;
    border-color: #11998E !important;
  }

.MainForm{
    display: inline-block;
    text-align: center;
}

.pict{
    display: inline-block;
    float: right;
}

.links{
    margin-top: 70px;
    font-size: 30px;
}

.links_link{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px #11998E solid;
    border-radius: 10px;
    width: 45px;
    height: 45px;
}

.google, .google:hover, .google:active{
    color: #DB4437;
}

.facebook, .facebook:hover, .facebook:active{
    color: #1877F2;
}

.twitter, .twitter:hover, .twitter:active{
    color: #1DA1F2;
}

.vk, .vk:hover, .vk:active{
    color: #4A76A8;
}