.App {
  text-align: center;
}


/* NAVBAR MAIN */
.navbar{
  color:#fff
}

/* SIDEBAR MAIN */

.sidebar__content{
  background: rgba(196, 196, 196, 0.3);
  margin:20px;
  min-width: 50%;
  border-radius: 8px;
  border: 2px solid #fff;
}

.sidebar__content{
  min-height: 575px;
}

/* MAIN CONTENT */

.MainContent{
  background: rgba(196, 196, 196, 0.3);
  border-radius: 8px;
  border: 2px solid #fff;
  margin:20px;
  margin-bottom: 25px;
  height: 275px;
}

/* MAIN NEWS */
.MainNews{
  background: rgba(196, 196, 196, 0.3);
  border-radius: 8px;
  border: 2px solid #fff;
  margin:20px;
  height: 275px;
  margin-top: 0;
}